.logo{
    float: left;
    width: 10%
}

h1{
    margin-left: 12%;
    color:black;
    padding-top: 1%
    
}

body{
    background-color: honeydew;
    margin: auto;
    margin-top: 70px;
    margin-left: 80px;
}

ul {
    margin-left: 9.5%;
    padding-top: 1%
}

.lista ul
{
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   margin: 0px;

}
.lista li
{
   list-style-type: none;
   display: inline;
   padding-right: 5px;
   color: blue;
}

.image1{
    float: left;
    width: 15%;
    padding-top: 1%
    
}


.p1{
    margin-left: 18%;
    color: black;
    font-size: 16px;
}

.p2{
    margin-left: 18%;
    color:black;
}

span{
    color:blue;
    text-decoration: underline blue;
}

* {
    font-family: cursive; 
    }
